<?xml version="1.0" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <sectionGroup name="iBATIS">

      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>

  <iBATIS>
    <logging>

      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="external" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>

  <appSettings>
    <add key="upds-standard-V6" value="D:\SJK\standard-V6" />
    <add key="upds-customerize" value="D:\software\宮崎大学\exe" />
    <add key="upds-宮崎大学-V６" value="D:\SJK\customerize" />
    <add key="upds-国立特別支援教育総合研究所-V6" value=" D:\SJK\EXE_GL\EXE" />
    <add key="upds-TQSD-V6" value="D:\SJK\EXE_TQSD" />

    <add key="DBConfig" value="DBConfig\SqlMap.config" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
