<?xml version="1.0" encoding="utf-8"?>
<providers
xmlns="http://ibatis.apache.org/providers"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <clear/>
  <provider
      name="oracle10.1"
      description="Oracle, oracle provider V10.1.0.301"
      enabled="false"
      assemblyName="Oracle.DataAccess, Version=10.1.0.301, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionClass="Oracle.DataAccess.Client.OracleConnection"
      commandClass="Oracle.DataAccess.Client.OracleCommand"
      parameterClass="Oracle.DataAccess.Client.OracleParameter"
      parameterDbTypeClass="Oracle.DataAccess.Client.OracleDbType"
      parameterDbTypeProperty="OracleDbType"
      dataAdapterClass="Oracle.DataAccess.Client.OracleDataAdapter"
      commandBuilderClass="Oracle.DataAccess.Client.OracleCommandBuilder"
      usePositionalParameters="true"
      useParameterPrefixInSql="true"
      useParameterPrefixInParameter="true"
      parameterPrefix=":"
      useDeriveParameters="false"
       />

</providers>
