<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="oracle10.1" />
    <dataSource name="SJK" connectionString="DJN/DJN@SJK"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="sqlFile.xml, Wpf-UPDS" />
  </sqlMaps>
</sqlMapConfig>